version: '3.8'
services:
  mariadb:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: rootpassword
      MARIADB_DATABASE: petstore_db
      MARIADB_USER: Petstore
      MARIADB_PASSWORD: "Pet1store43"
    ports:
      - "3306:3306"
    volumes:
      - mariadb-data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: petstore-demo-backend:latest
    depends_on:
      - mariadb
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_NAME: petstore_db
      DB_USER: Petstore
      DB_PASSWORD: "Pet1store43"
    ports:
      - "8000:8000"
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: petstore-demo-frontend:latest
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mariadb-data:
